button {
	outline: none; 
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// Play button
.play {
  border-color: var(--color-play);
}

.play:hover,
.play:focus {
  background: var(--color-play-focus);
 
}

.play.error {
  background: var(--color-danger) ;
}

.play.error:hover,
.play.error:focus {
  background: var(--color-danger-focus);
}

.play.active {
  background: var(--color-play-active);
}

// Stop button
.stop {
  border-color: var(--color-danger);
}

.stop:hover,
.stop:focus {
  background: var(--color-danger-focus);
}

// Stop button
.handles {
  border-color: var(--color-handles);
}

.handles:hover,
.handles:focus {
  background: var(--color-handles-focus);
}

.handles.active {
  background: var(--color-handles-focus);
}

@media (min-width: 768px) and (min-aspect-ratio: 1.35) {
  .btn-group {
    justify-content: space-evenly;
  }

  .btn-emoji {
    height: auto;
    width: 100%;
  }
}
